<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>
      A Propos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content refreshing-spinner="bubbles" refreshing-text="Actualisation..."></ion-refresher-content>
    </ion-refresher>

    <div *ngIf="!donneees.length">
    
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>

      </ion-list>
    </div>

<div *ngFor="let Propos of donneees">
  <div class="support-logo ion-text-center">
  <img align="center" src="{{this.link_postere}}{{Propos.Postere}}" alt="Demat Days Logo"/>
  </div>

        <ion-text class="ion-text-justify">
          <p style="font-size:14px; font-family:helveticca;">
            {{ Propos.APropos }}
          </p>
        </ion-text>

  <ion-list lines="none">
    <ion-item>
      <ion-icon name="calendar" slot="start"></ion-icon>
      <ion-label position="stacked"> Date de début </ion-label>
      <p style="font-size:16px; font-family:helveticca;"> {{ Propos.Ouverture | date: 'dd MMM yyyy' }} </p>
    </ion-item>

    <ion-item>
      <ion-icon name="calendar" slot="start"></ion-icon>
      <ion-label position="stacked"> Date de fin </ion-label>
      <p style="font-size:16px; font-family:helveticca;"> {{ Propos.Fermeture | date: 'dd MMM yyyy' }} </p>
    </ion-item>

    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label position="stacked"> Adresse </ion-label>
      <p style="font-size:16px; font-family:helveticca;"> {{ Propos.Adresse }} </p>
    </ion-item>

  </ion-list>
    <h5 class="ion-text-uppercase ion-text-center"> Partenaires et Sponsors </h5>
  <ion-slides [options]="sliderConfig">
    <ion-slide *ngFor="let Sponsor of donneeees">
    <div>
      <ion-card>
        <img src="{{this.link_sponsor}}{{Sponsor.Logo}}" style="height:80px!important;" alt="{{Sponsor.Sponsor}}">
      </ion-card>
    </div>
    </ion-slide>
  </ion-slides>
</div>

</ion-content>

